---
import '../styles/global.css';

---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Permissions-Policy" content="camera=(self)">

        <title>Basic Augmented Reality Web App</title>

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body class="font-nunito bg-neutral-800 overflow-hidden">
        <slot />
	</body>
</html>